/* styling for the div holding all alphabet keys */
.keyboard{
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  height: 300px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: -30px;
}

/* styling for the alphabet buttons */
.keys{
  font-size: 20px;
  padding: 10px;
  background-color: #ffffff;
  border: none;
  width:50px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);

}

/* styling for the flex container holding both the individual keys and the div holding all keys */ 
.flex-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
 /* styling for the div holding the letter to be guessed */
.Guess{
    margin:20px;
    display: flex;
    justify-content: center;
}

/* styling for the letters to be guessed */
.letter{
    padding-left:10px;
    font-size: 50px;
}

/* div container for the hangman image */
.hangGuess{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items : center;
}
/* div container for the guesses left */
.guessLeft{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: 40px;
}

/* div holding the current hangman image */
.stateImage{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 195px;
}

/* styling for the size of the hangman image */
.hangImage{
    height: 300px;
    width: 300px;
}

/* styling for the divs in the header div */
.head{
   text-align: center;
   display: flex;
   justify-content: space-between;
}

/* stylng for the buttons in the header */
.head-button{
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform,opacity;
  z-index: 0;
}

/* styling for the header buttons when they are active */
.head-button:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

/* styling for the header buttons when they are active */
.head-button:focus {
  outline: none;
  border: 2px solid #4285f4;
}

/* styling for the wrong letters */
.wrongLetter{
  font-size: 20px;
  padding: 10px;
  background-color: red;
  border: none;
  width:50px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

/* styling for the right letters */
.rightLetter{
  font-size: 20px;
  padding: 10px;
  background-color: green;
  border: none;
  width:50px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

/* styling for the game name text */
.game-name{
  width: 7000px;
  margin-left: 40px;
  text-align: center;
}

/* styling for the restart button in the header */
.restart-button{
  display: flex;
  justify-content: flex-end;
  padding-left: 30px;
  padding-top: 20px;
  
}

/* styling for the help button in the header */
.help-button{
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
  padding-top: 20px;
}

/* styling for the popup container and elements within */

.container{
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* display: flex; */
  display: none;
  align-items: center;
  justify-content: center;
}

.popup {
  background: #2980b9;
  border-radius: 5px;
  box-shadow: 0 15px 10px 3px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}

.popup button {
  cursor: pointer;
  background-color: #fff;
  color: #2980b9;
  border: 0;
  margin-top: 20px;
  padding: 12px 20px;
  font-size: 16px;
}

/* styling for the help section and the hidden parts */
.help-section{

  position: absolute;
  z-index:  1;
  
   width: 300px;
  /* margin-right: -25em;  */
  margin-top: 10px;
        
}

.help-section p{
  font-size: 0.9em;
}

.help-container{
  width:100%;
  /* text-align: center; */
  position: relative;
  margin-right: 120px;
}

.restart-container{
  margin-left: 120px;
}

